.container {
    width: 400px;
    height: 400px;
    margin-left: 10px;
}

.retangulo {
    width: 450px; 
    height: 200px; 
    background-color: #232222; 
    border-radius: 5px;
    margin-left: 10px;
}