/* components/Main.module.css */
.main {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  padding: 6rem;
  min-height: 10vh;
}


